{% extends 'base.html' %}
{% load static %}


{% block content %}
	<!-- Start All Pages -->
	<div class="all-page-title page-breadcrumb">
		<div class="container text-center">
			<div class="row">
				<div class="col-lg-12">
					<h1>Stuff</h1>
				</div>
			</div>
		</div>
	</div>
	<!-- End All Pages -->
	
	<!-- Start Stuff -->
	<div class="stuff-box">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="heading-title text-center">
						<h2>Stuff</h2>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting</p>
					</div>
				</div>
			</div>
			<div class="row">
				
				{% for stuff in stuff %}
					<div class="col-md-4 col-sm-6">
						<div class="our-team">
							<img src="{{ stuff.image.url }}">
							<div class="team-content">
								<h3 class="title">{{ stuff.name }}</h3>
								<span class="post">{{ stuff.job }}</span>
								<ul class="social">
									<li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter"></i></a></li>
									<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
				{% endfor %}

			</div>
		</div>
	</div>
	<!-- End Stuff -->

{% endblock %}